// Specific CSS for your home-page
body {
  font-family: josefin sans;
}

h1 {
  font-family: homemade apple;
}

.outside {
  text-align: center;
  background: #ffe6eb;
}

.card {
  margin: 10px 10px;
  background: #defcfc;
  border: 2px solid #c5ecbe;
  padding: 10px 10px;
}

// .container {
//   display: flex;

// }
